@using EIP.Common.Entities
@using EIP.Common.Entities.Dtos
@using EIP.Web.DataUsers.Helpers

@{
    ViewBag.Title = "WIPMoveReport";
    ViewBag.Require = "reporting-wipmovereport-queryinfo";
    Layout = "~/Views/Shared/_LayoutPageBaseList.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class=" panel panel-primary">

                <div class="panel-heading text-center">
                    <h3 class="panel-title">WIP Move Report</h3>

                </div>
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="row" style="padding-top:10px;">
                            <div class="col-lg-4">
                                <div class="col-sm-4 text-right"><label for="TechID" class="control-label  text-right">Tech.ID:</label></div>
                                <div class="col-sm-8 text-left"><select id="selTechID" name="TechID" class="form-control manualfilter select2"></select></div>
                            </div>
                            <div class="col-lg-4">
                                <div class="col-sm-4 text-right"><label for="Customer" class="control-label text-right">CustomerID:</label></div>
                                <div class="col-sm-8 text-left"><select id="selCustomerID" name="CustomerID" class="form-control manualfilter select2"></select></div>
                            </div>
                            <div class="col-lg-4">
                                <div class="col-sm-4 text-right"><label for="ProductID" class="control-label text-right"><span class="need">*</span>ProductID:</label></div>
                                <div class="col-sm-8 text-left"><select id="selProductID" name="selProductID" class="form-control manualfilter select2"></select></div>
                            </div>
                        </div>
                        <div class="row" style="padding-top:10px;">
                            <div class="col-lg-4">
                                <div class="col-sm-4 text-right">
                                    <label for="startDate" class="control-label text-right"><span class="need">*</span>查询区间起:</label>
                                </div>
                                <div class="col-sm-8 text-left">
                                    <input id="StartTime" type="text" name="StartTime" readonly style="background-color:white;" class="form-control manualfilter text-left" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',readOnly:true})" />
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="col-sm-4 text-right">
                                    <label for="EndDate" class="control-label text-right"><span class="need">*</span>查询区间起止:</label>
                                </div>
                                <div class="col-sm-8 text-left">
                                    <input id="EndTime" type="text" name="EndTime" style="background-color:white;" readonly class="form-control manualfilter text-left" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',readOnly:true})" /><br>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="col-sm-4 text-right">
                                    <label for="Priority" class="control-label text-right">Priority:</label>
                                </div>

                                <div class="col-sm-8 text-left">
                                    <select id="selPriority" name="Priority" class="form-control manualfilter select2">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                          <div class="row" style="padding-top:10px;">
                            <div class="col-lg-4">
                                <div class="col-sm-4 text-right">
                                    <label for="Priority" class="control-label text-right">Internal Priority:</label>
                                </div>
                                <div class="col-sm-8 text-left">
                                    <select id="InternalPriority" name="InternalPriority" class="form-control manualfilter select2">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="col-sm-4 text-left">
                                    <label for="MWD" class="control-label text-right"><span class="need">*</span>By Monthly/Weekly/Daily:</label>
                                </div>
                                <div class="col-sm-4">
                                  <select id="Bydate" name="Bydate" class="form-control manualfilter select2">
                                        <option value="M">Monthly</option>
                                        <option value="W">Weekly</option>
                                        <option value="D">Daily</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding-top:10px;">

                            <div class="form-group col-lg-10">

                            </div>
                            <div class="form-group col-lg-2">
                                <div class="col-sm-6">
                                    <input type="button" name="btn_select_box" value="搜 索" class="btn btn-primary pull-right" />
                                </div>
                                <div class="col-sm-6">
                                    <input type="button" name="btn_reset_box" value="重 置" class="btn pull-right">
                                </div>
                            </div>

                        </div>
                    </form>
                 </div>
            </div>
        </div>
    </div>
   <div class="row">
        <div class="col-lg-12">
                    <div class="col-lg-6">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">Production</h3>
                            </div>
                            <div class="panel-body" id="listpnlbody">
                                <table id="list" class="grid"></table>
                                <div id="pager"></div>
                            </div>
                        </div>
                </div>
                    
                    <div class="col-lg-6">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">Engineering</h3>
                            </div>
                            <div class="panel-body" id="listpnlbody">
                        <table id="list1" class="grid"></table>
                        <div id="pager1"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>