<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="TimeOut" value="30"/>
    <add key="Daemon" value="tcp:10.10.19.114:7500"/>
    <add key="Service" value="7500"/>
    <add key="Domain" value="FAB1.FW300.FWTST1"/>
    
    <add key="emailHost" value="10.10.16.55"/>
    <add key="emailUserName" value="CIM.Notice"/>
    <add key="emailPassword" value="12345"/>
    <add key="emailFrom" value="Job Sever [StepAutoJob]"/>
    <add key="emailTo" value="weifeng.lu@hidmgroup.com"/>
    <add key="emailSubject" value="$CurrentTime : $ServiceName has occured an exception"/>
    <add key="emailBody" value="Dear Sir/Madam : &lt;br/&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;$CurrentTime : $ServiceName has occured an exception : $EXMessage&lt;br/&gt;&amp;nbsp;&amp;nbsp;$EXBody&lt;br/&gt;&lt;br/&gt;&lt;br/&gt;&lt;br/&gt;&lt;br/&gt;"/>
  </appSettings>   
</configuration>